/* app css stylesheet */

body, html {
  font-size: 12px;
  font-family: 'Jura', sans-serif;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

@font-face {
  font-family: 'Entypo';
  src: url('font/entypo.eot');
}

/*************************************/

div#container {
  position: relative;
  /*border: 1px solid #000;*/
  width: 80%;
  margin: 10px auto 0 auto;
}

div.card {
  display: inline-block;
  /*border: 1px solid #00F;*/
  width: 80px;
  height: 100px;
  margin: 10px;
  padding: 5px;

  transition: all 0.5s ease;
  background : -webkit-linear-gradient(top, #e8e8e8 0%, #cad7cf 100%);
  /*background : -webkit-linear-gradient(top, #86fe65 0%, #06d315 100%);*/
  border-radius      : 5px;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
}

.selected {
  background : -webkit-linear-gradient(top, #86fe65 0%, #06d315 100%) !important;
}

.incorrect {
  background: -webkit-linear-gradient(top, #fe5456 0%, #d30024 100%) !important;
}

.missed {
  background : -webkit-linear-gradient(top, rgba(134, 254, 101, 0.20) 0%, rgba(6, 211, 21, 0.20) 100%) !important;
}

/* game options */
div#game-options {
  font-family: Entypo;
  font-size: 2em;

  position: absolute;
  top: 10px;
  left: 10px;
  opacity: .2;
}

div#game-options a:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

/*********************/

div#levelheader {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 500;
}

div#level {
  position: relative;
  text-align: center;

  width: 2em;
  top: 0;
  margin: -10px auto 0 auto;
  font-size: 4em;
  font-weight: bold;

  /*border: 1px solid #000;*/
}

.hiddencard {
  display: none;
}

.flipped {

  display: inline-block;
  /*background-color: #0F0;*/
  width: 100%;
  height: 100%;
}

div#metrics {
  width: 500px;
  position: relative;
  margin: 0 auto;
}

div#selectioncount {
  position: relative;
  margin: 5px auto;
  text-align: center;

  font-size: 2.5em;
  width: 2em;
  font-weight: 100;
  color: #999;

  border: 1px solid #CCC;
  border-radius: 5px;
}

div#timeleft {
  position: relative;
  margin: 0 auto;

  width: 500px;
  height: 5px;
  border: 1px solid #CCC;
  border-radius: 5px;
}

div#progressbar {
  transition: all 0.2s ease;

  position: relative;

  margin: 0 auto;
  height: 100%;
  background-color: #DDD;
  border-radius: 5px;
}

.start, .won {
  background-color: #00e900 !important;
  color: #FFF !important;
}

.lost {
  background-color: #F00 !important;
  color: #FFF !important;
}

.stop {
  background-color: #DDD !important;
}