<p>This is the partial for view 1.</p>

<p>selected card = {{selectedCard.value}}</p>

<p>Countdown: {{countDown}}</p>

<p>Status: {{status}}</p>

<div class="card" ui-if="cards"
                  ng-repeat="card in cards"
                  ng-click="toggleCard(card)">
    <div class="card-front hiddencard" ng-class="{flipped: card.selected}">
        <span>{{card.value}}</span>
    </div>
    <div class="card-back" ng-class="{hiddencard: card.selected}">
        <span>hidden</span>
    </div>

</div>