<div id="level">{{level}}</div>

<p>Status: {{status}}</p>

<div id="game-options">
<a ng-click="start()">Start</a>
</div>

<div id="metrics">

    <div id="selectioncount" ng-class="{won: status == 'WON', lost: status == 'LOST'}">
        {{correctCount}}
    </div>

    <div id="timeleft">
        <div id="progressbar" ng-class="{start: gamestarted, stop: !gamestarted}" style="width: {{timeleft}}%;">
    </div>
</div>

</div>

<div id="container">
    <div class="card" ui-if="cards"
                      ng-repeat="card in cards"
                      ng-class="{selected: card.selected, incorrect: card.incorrect, missed: card.missed}"
                      ng-click="toggleCard(card)">
        <div class="card-front hiddencard" ng-class="{flipped: card.selected, incorrect: card.incorrect}">
            <span>&nbsp;</span>
        </div>
        <div class="card-back" ng-class="{hiddencard: card.selected}">
            <span>&nbsp;</span>
        </div>

    </div>
</div>